[submodule "blog/themes/blowfish"]
	path = blog/themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "blog/themes/vintage-web-hugo-theme"]
	path = blog/themes/vintage-web-hugo-theme
	url = https://github.com/meimakes/vintage-web-hugo-theme.git
