html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: auto;
}

body {
  height: 100%;
  text-align: center;
}

main{
  margin-top: 25vh;
  flex-direction: column;
}

.scroll-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: xx-large;
  cursor: pointer;
}

.button-icon {
  font-size: x-large;
  margin-left: .6em;
}

.width-div {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-buttons {
  width: 40%;
}

@media only screen and (max-width: 520px) {
  .link-buttons {
    width: 100%;
  }
}
.link-buttons-2 {
  width: 60%;
}

.width-div button {
  width: 25%;
  margin: .3em;
  padding: 1em;
}

.button-bottom {
  padding: 1.2em !important;
}

.about-title {
  margin: 15em 0 0 0;
}

#projects{
  margin-top: 5em;
}

.lightThing {
  position: fixed;
  top: 0;
  right: 0;
  margin: .5em 1em;
  font-size: xx-large;
  cursor: pointer;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #272727;
}

::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}

button{
  min-width: 15em;
}

@media only screen and (max-width: 520px) {
  .is-size-1{
    font-size: 2em !important;
    word-break: break-all;
  }
  main{
    margin-top: 12vh;
    flex-direction: column;
  }
  button{
    min-width: 20em;
  }
  .button-bottom {
    min-width: 14em;
  }
}

[data-theme=dark],
.theme-dark {
  body{
    background-color: #1a1b20;
    color: #939bb6;
  }
  button{
    background-color: #121316;
    border: 1px solid #3c3d3f;
    color: #cbcedf;
  }
  footer{
    background-color: #121316;
  }
}

[data-theme=light],
.theme-light {
  body{
    background-color: #b0b4ca;
    color: #222329;
  }
  button{
    background-color: #a1a1be;
    border: 1px solid #0a0e1f;
    color: #222329;
  }
  footer{
    background-color: rgb(142, 146, 167);
  }
}