html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: auto;
}

body {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12em;
}

.scroll-down {
  margin-top: 15em;
  font-size: xx-large;
  cursor: pointer;
}

.button-icon {
  font-size: large;
  margin-left: .6em;
}

.width-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-buttons {
  width: 50%;
}

.link-buttons-2 {
  width: 60%;
}

.width-div button {
  width: 25%;
  margin: .3em;
  padding: 1em;
}

.button-bottom{
  padding: 1.2em !important;
}

.about{
  margin-bottom: 200px;
}