@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

html,
body {
  width: 100%;
  display: flex;
  margin: 0;
  align-content: center;
  vertical-align: middle;
  text-align: center;
}

body {
  font-family: "Source Code Pro", monospace;
  font-size: 1.5em;
  background-color: rgb(0, 0, 0);
  color: white;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

main {
  width: 70%;
  margin: auto;
}

.buttons-main {
  text-align: center;
  margin-top: 12vh;
}

div.buttons-main a{
  text-decoration: none;
  color: white;
  width: 12em !important;
  visibility: hidden;
}

button.button {
  color: white;
  margin: auto;
  font-weight: 600;
  letter-spacing: 2px;
  width: 12em;
  height: 3.5em;
  border-radius: 10px;
  margin: 0.8em;
  transition: transform 0.3s ease-in !important;
  transition: all 0.25s ease !important;
  border: solid 2px rgb(22, 22, 22);
  opacity: 0;
  animation: fadeInTop 1s forwards;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  visibility: visible;
}

button.button:hover {
  opacity: 60% !important;
  border: none !important;
  border: solid 2px rgb(134, 134, 134) !important;
}

span.button-icon img {
  width: 15%;
  vertical-align: middle;
  text-align: end;
}

button.github {
  background-color: rgba(20, 22, 129, 1);
  background: repeating-linear-gradient(45deg,
      #000000,
      #000000 8.5px,
      rgba(20, 22, 129, 1) 8.5px,
      rgba(20, 22, 129, 1) 42.5px);
  animation-delay: 0;
}

button.instagram {
  background-image: linear-gradient(to right, rgb(4, 0, 252), rgb(255, 0, 0));
  animation-delay: 0.2s;
}

button.spotify {
  background-image: repeating-radial-gradient(circle at 0 0,
      transparent 0,
      #000000 10px),
    repeating-linear-gradient(#087a04, #054905);
  animation-delay: 0.3s;
}

button.twitter {
  background-color: #000000;
  animation-delay: 0.4s;
  border: solid 2px rgb(255, 255, 255, 0.2);
}

button.mail {
  color: #ffffff;
  background-image: url(img/google-gradient.png);
  background-position: 0 -128px;
  background-repeat: no-repeat;
  animation-delay: 0.5s;
}

p#email {
  text-align: center;
  margin: 0.6em;
  font-weight: 600;
  font-size: 16px;
  animation: fadeInBottom 1s forwards;
}

hr.email {
  width: 50%;
  text-align: center;
  margin: 32px auto 20px auto;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    top: -10px;
  }

  to {
    opacity: 0.8;
    top: 0px;
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    margin-top: 60px;
  }

  to {
    opacity: 0.8;
    margin-top: 0;
  }
}

.bi-cup-hot-fill {
  margin: .3em;
  font-size: xx-large;
  position: fixed;
  right: 0;
  border: 3px solid white;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.footer {
  font-size: medium;
}

footer {
  text-align: center;
  padding: 10px;
}

.footer {
  margin: 0;
}

.bi-arrow-down {
  position: absolute;
  bottom: 10px;
  color: white !important;
  font-size: xx-large;
}

div.about {
  margin: 1em;
  text-align: center;
  margin-top: 50%;
}

div.section {
  margin-bottom: 5em;
}
.buttons-section {
  background-color: #000000;
  color: white;
  margin: 0;
}