<script
  defer
  src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
></script>
<link rel="stylesheet" href="/css/minigame-styles.css?v={{ now.Unix }}" />
<script src="/js/distro-chooser.js"></script>

<div class="box-mg">
  <div x-data="distroChooser()" class="distro-widget">
    <div x-show="step === 0">
      <h3>Find the perfect Linux distribution for you!</h3>
      <p>
        Answer a few simple questions and get an answer, that's based on my
        experience and reccomendation.
      </p>
      <button @click="step = 1" class="button-mg">
        Start quiz
      </button>
    </div>

    <div x-show="step === 1">
      <p>Have you ever used Linux?</p>
      <button class="button-mg-large" @click="addPoints(1); step = 2">
        I'm a total beginner.
      </button>
      <button class="button-mg-large" @click="addPoints(3); step = 2">
        I've used it for a little bit, but I fear the terminal.
      </button>
      <button class="button-mg-large" @click="addPoints(6); step = 2">
        I know the basic commands and I'm not scared of the terminal.
      </button>
      <button class="button-mg-large" @click="addPoints(10); step = 2">
        I have a loads of experience in Linux and UNIX systems.
      </button>
    </div>

    <div x-show="step === 2">
      <p>How much do you want to care about the stability of your system?</p>
      <button class="button-mg-large" @click="addPoints(10); step = 3">
        I just want it to work, forever, I don't want to ever have to repair
        anything.
      </button>
      <button class="button-mg-large" @click="addPoints(7); step = 3">
        I am okay with fixing a small bug when updating the system or installing
        some 3rd party software.
      </button>
      <button class="button-mg-large" @click="addPoints(4); step = 3">
        I'm used to repairing my system, It's a second nature to me.
      </button>
      <button class="button-mg-large" @click="addPoints(1); step = 3">
        I know what I'm doing, my system is not gonna break, because I'm very
        careful and I read the wiki before every update so my system won't
        break.
      </button>
    </div>

    <div x-show="step === 3">
      <p>
        Do you care for the newest kernel and all the newest features (KDE, or
        other desktop enviroments' latest versions)?
      </p>
      <button class="button-mg-large" @click="addPoints('fixed'); step = 4">
        I don't necesarilly need the newest software, I don't want my system to
        break.
      </button>
      <button class="button-mg-large" @click="addPoints('rolling'); step = 4">
        I want the latest and newest software even if I risk my system having an
        issue, and I need to have the latest graphics drivers for gaming.
      </button>
    </div>

    <div x-show="step === 4">
      <p>Do you want to play videogames?</p>
      <button class="button-mg-large" @click="addPoints(10); step = 5">
        I'm a gamer and I need the best support for video games
      </button>
      <button class="button-mg-large" @click="addPoints(8); step = 5">
        I do play games, but nothing too crazy
      </button>
      <button class="button-mg-large" @click="addPoints(4); step = 5">
        Only supertux lol
      </button>
      <button class="button-mg-large" @click="addPoints(0); step = 5">
        I don't care about games.
      </button>
    </div>

    <div x-show="step === 5">
      <p>Wanna see how u ended up?</p>
      <button class="button-mg" @click="showResults(); step = 6">Show Results</button>
    </div>

    <div x-show="step === 6">
      <h2>Your recommended distributions:</h2>
      <template x-for="(distro, index) in winners" :key="distro.name">
        <div class="distro-result">
        <link rel="stylesheet" href="/css/minigame-styles.css" />
          <p style="font-weight: bolder;">
            <span x-text="index + 1"></span>. <span x-text="distro.name"></span>
          </p>
          <p x-text="distro.description"></p>
          <a class="button-mg" :href="distro.link" target="_blank" rel="noopener noreferrer"
            >Learn more</a
          >
          <br />
        </div>
      </template>
      <button class="button-mg-large" @click="step = 1">Restart</button>
    </div>
  </div>
</div>
